
_MOVE TO ROOT/.htaccess

_MOVE TO ROOT/apple-touch-icon-114x114.png

_MOVE TO ROOT/apple-touch-icon-57x57.png

_MOVE TO ROOT/apple-touch-icon-72x72.png

_MOVE TO ROOT/apple-touch-icon-precomposed.png

_MOVE TO ROOT/crossdomain.xml

_MOVE TO ROOT/favicon.ico

_MOVE TO ROOT/favicon.png

_MOVE TO ROOT/humans.txt

_MOVE TO ROOT/robots.txt
